.monthly-investment,.rate,.timeperiod{
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.heading{
  text-align: center;
  margin: 16px;
}

.monthly-investment-rightcontent,.rate-rightcontent,.timeperiod-rightcontent{
  display: flex;
  height: 22px;
  align-items: center;
}
.monthly-investment-rightcontent input,.rate-rightcontent input,.timeperiod-rightcontent input{
  border: none;
  /* background-color: rgb(182, 250, 227); */
  border-radius: 2px;
  height: 20px;
}

.slider{
  width: 50%;
  margin-left: 75px;
}

.input-content{
  box-shadow: 10px 10px;
  background-color: rgb(244, 186, 165);
  height: 300px;
  width: 90%;
  margin-top: 50px;
}